.right{h1{  margin: 10px 12px 17px 15px;
  font-size: 17px;
  color: #000000;
  font-weight: 600;}
}
.image-card {
  padding: 15px 15px 0px 15px;
}
.mat-card-title {
  margin-bottom: 0px;
  position: relative;
  bottom: 11px;
  text-align: center;
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}
