<div class="main_section">
    <div class="container">
      <div class="help">
        <div class="row">
          <div class="col col-sm-4 col-md-4 col-lg-4">
            <app-right></app-right>
          </div>
          <div class="col col-sm-8 col-md-8 col-lg-8">
            <div class="right">
              <marquee>BAGALKOT DISTRICT NON-AGRICULTURE CREDIT CO-OPERATIVE SOCIETIES FEDERATION LTD BAGALKOT</marquee>
              <h1>PROCEDURES TO MAKE AWARD(ABN)  AND RELATED INFORMATION</h1>
              <div class="image-card">
              <div class="row">
              <div class="col">
              <mat-card class="example-card">

              <mat-card-title>Award 1</mat-card-title>

              <img mat-card-image src="../../assets/Award1.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions>
                <button   mat-button><a target="_blank" href="../../assets/Award1.jpg">Preview</a></button>
              <button mat-button ><a download="Award1.jpg" href="../../assets/Award1.jpg">Download</a></button>
              </mat-card-actions>
              </mat-card>
              </div>
              <div class="col">
              <mat-card class="example-card">

              <mat-card-title>Award 2 </mat-card-title>

              <img mat-card-image src="../../assets/Award2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions>
              <button  mat-button><a  target="_blank" href="../../assets/Award2.jpg">Preview</a></button>
              <button mat-button ><a download="Award2.jpg" href="../../assets/Award2.jpg">Download</a></button>
              </mat-card-actions>
              </mat-card>
              </div>
              <div class="col">
              <mat-card class="example-card">

              <mat-card-title>Award 3 </mat-card-title>

              <img mat-card-image src="../../assets/Award3.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions>
              <button   mat-button><a  target="_blank" href="../../assets/Award3.jpg">Preview</a></button>
              <button mat-button><a download="Award3.jpg" href="../../assets/Award3.jpg">Download</a></button>
              </mat-card-actions>
              </mat-card>
              </div>
              </div>
              </div>
              <div class="image-card">
              <div class="row">
              <div class="col">
              <mat-card class="example-card">

              <mat-card-title>Award 4</mat-card-title>

              <img mat-card-image src="../../assets/Award4.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions>
              <button   mat-button><a  target="_blank" href="../../assets/Award4.jpg">Preview</a></button>
              <button mat-button><a download="Award4.jpg" href="../../assets/Award4.jpg">Download</a></button>
              </mat-card-actions>
              </mat-card>
              </div>
              <div class="col">
              <mat-card class="example-card">

              <mat-card-title>Award 5</mat-card-title>

              <img mat-card-image src="../../assets/Award5.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions>
              <button  mat-button><a  target="_blank" href="../../assets/Award5.jpg">Preview</a></button>
              <button mat-button><a download="Award5.jpg" href="../../assets/Award5.jpg">Download</a></button>
              </mat-card-actions>
              </mat-card>
              </div>
              <div class="col">
              <mat-card class="example-card">

              <mat-card-title>Award 6</mat-card-title>

              <img mat-card-image src="../../assets/Award5.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions>
              <button   mat-button><a  target="_blank" href="../../assets/Award5.jpg">Preview</a></button>
              <button mat-button><a download="Award5.jpg" href="../../assets/Award5.jpg">Download</a></button>
              </mat-card-actions>
              </mat-card>
              </div>
              </div>
              </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>




