
<div class="container">
  <div class="inner">
    <h2>Execution Petition Calculator</h2>
    <div class="input-container">
      <input placeholder="Enter The Amount" maxlength="8" type="text" name="amount" id="amount">
      <span class="close-icon">&#x2716;</span>
    </div>
    <div class="calulation-container">
      <div class="input-amount">
        <span>Entered Amount</span>
        <span class="val">0</span>
      </div>
      <div class="result1">
        <span>EP FEE=</span>
        <span class="val">0</span>
      </div>
      <div class="result2">
        <span>EP FEE(+250)=</span>
        <span class="val">0</span>
      </div>
      <!-- <div class="result3">
          <span>Result3</span>
          <span class="val">0</span>
      </div>
      <div class="result4">
          <span>Result4</span>
          <span class="val">0</span>
      </div> -->
    </div>
  </div>
</div>
