<div class="main_section">
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="card-image">
              <i class="fas fa-calculator"></i>
            </div>
            <mat-card-title> EXECUTION PETITION (EP) CALCULATOR</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="card-image">
              <i class="fas fa-desktop"></i>
            </div>
            <mat-card-title>CITIZEN ONLINE SERVICES </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="card-image">
              <i class="fas fa-hand-point-up"></i>
            </div>
            <mat-card-title>TRACK YOUR APPLICATION</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="help">
      <div class="row">
        <div class="col col-sm-4 col-md-4 col-lg-4">
          <app-right></app-right>
        </div>
        <div class="col col-sm-8 col-md-8 col-lg-8">
          <div class="right">
            <marquee>BAGALKOT DISTRICT NON-AGRICULTURE CREDIT CO-OPERATIVE SOCIETIES FEDERATION LTD BAGALKOT</marquee>
            <div class="contact">
              <h4> Home&nbsp;<i class="fas fa-greater-than"></i><i class="fas fa-greater-than"></i>&nbsp;Contact Us</h4>
              <hr>
              <h3>BAGALKOT DISTRICT NON-AGRICULTURE CREDIT CO-OPERATIVE SOCIETIES FEDERATION LTD BAGALKOT</h3>
              <div class="contact_inner">
                <div class="row">
                <div class="col-3"><h3><i class="fas fa-home"></i> Address:</h3></div>
                <div class="col">
                  <p><b>SECTOR NO:</b>18 3RD MAIN ROAD, SHRI RADHAKRISHNA BADAVANE, BEHIND GOKUL HOTEL NAVANAGAR
                    <b>BAGALKOT-587103</b></p>
                </div>
              </div>
                <div class="row">
                  <div class="col-3"><h3><i class="fas fa-envelope-open"></i>&nbsp;Email-ID :</h3></div>
                  <div class="col"><a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin
" target="_blank"> Bagalkotvakuta@gmail.com</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3"><h3><i class="fas fa-phone-square"></i>&nbsp;Contact Number:</h3></div>
                  <div class="col"><p> +91 7353861868 <br>+91 9739213406 </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3"><h3 > <i class="fas fa-clock"></i>&nbsp;Working Hours:</h3></div>
                  <div class="col"><p style="margin-top: 8px"> 10.30 AM TO 5.30 PM </p>
                  </div>
                </div> <div class="row">
                  <div class="col-12"><h3 ><i class="far fas fa-hand-point-right"></i>&nbsp;Contact Details:</h3></div>
                  <div class="col"><div class="mapouter"><div class="gmap_canvas"><iframe width="700" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=bangalkote&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net"></a></div><style>.mapouter{text-align:right;height:500px;width:700px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:700px;}</style></div>
                  </div>
                </div>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
