
h1 {
  font-size: 21px;
  text-align: center;
  color: #0abe51;
  font-weight: 600;
  margin: 25px 0 32px 0;
}
.image-card {
  margin: 35px 0 0px 0;

}
.image_popup{img{max-width: 100%}}

.mat-card{    min-height: 430px}

.mat-card-actions {
  padding: 0px;
  margin-bottom: 0px;
}
.modal-title {
  margin-bottom: 0;
  line-height: 23px;
  font-size: 13px;
  color: #0abe51;
}
.image_popup {
  height: 300px;
  overflow: auto;
}

a{text-decoration: none;color:#0abe51}
