

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <b class="modal-title" id="exampleModalLongTitle">PROCEDURES TO MAKE AWARD(ABN) AND RELATED INFORMATION</b>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="image_popup">
            <img alt="ImageName" [src]="awards">

        </div>
      </div>
      <div class="modal-footer">
        <button mat-button><a  download="banner1.jpg" href="../../assets/banner1.jpg">Download</a></button>
      </div>
    </div>
  </div>
</div>
<h1>PROCEDURES TO MAKE AWARD(ABN)  AND RELATED INFORMATION</h1>
<div class="image-card">
<div class="row">
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Award 1</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/Award1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button (click)="viewOne()" data-toggle="modal" data-target="#exampleModalCenter" mat-button>Preview</button>
        <button mat-button ><a download="Award1.jpg" href="../../assets/Award1.jpg">Download</a></button>
      </mat-card-actions>
      <a ></a>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Award 2 </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/Award2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button (click)="viewTwo()" data-toggle="modal" data-target="#exampleModalCenter" mat-button>Preview</button>
        <button mat-button ><a download="Award2.jpg" href="../../assets/Award2.jpg">Download</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Award 3 </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/Award3.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button (click)="viewThree()" data-toggle="modal"  data-target="#exampleModalCenter" mat-button>Preview</button>
        <button mat-button><a download="Award3.jpg" href="../../assets/Award3.jpg">Download</a></button>
      </mat-card-actions>
  </mat-card>
  </div>
</div>
</div>
<div class="image-card">
<div class="row">
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Award 4</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/Award4.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button (click)="viewFour()" data-toggle="modal" data-target="#exampleModalCenter" mat-button>Preview</button>
        <button mat-button><a download="Award4.jpg" href="../../assets/Award4.jpg">Download</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Award 5</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/Award5.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button (click)="viewFive()" data-toggle="modal" data-target="#exampleModalCenter" mat-button>Preview</button>
        <button mat-button><a download="Award5.jpg" href="../../assets/Award5.jpg">Download</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Award 6</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/Award5.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button (click)="viewSix()" data-toggle="modal" data-target="#exampleModalCenter" mat-button>Preview</button>
        <button mat-button><a download="Award5.jpg" href="../../assets/Award5.jpg">Download</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>

