<div class="left">
  <h1>HELP DESK</h1>
  <div class="enquiry">
    <span><b>Call Center: </b>080-23108108</span>
    <span> <b>Whatsup:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>8277777728</span>
  </div>
  <h1>MEMBERS & STAFFS</h1>
  <div class="member">
    <mat-chip-list>
      <mat-chip color="primary">One fish</mat-chip>
      <mat-chip color="primary">Two fish</mat-chip>
      <mat-chip color="primary">Primary fish</mat-chip>
      <mat-chip color="accent">Accent fish</mat-chip>
    </mat-chip-list>
  </div>
  <h1>MENU</h1>
  <div class="row menu">
    <div class="col padding_right0">
      <mat-chip color="primary">One fish</mat-chip>
      <mat-chip color="primary">One fish</mat-chip>
      <mat-chip color="primary">One fish</mat-chip>
      <mat-chip color="primary">One fish</mat-chip>
      <mat-chip color="primary">One fish</mat-chip>
    </div>
    <div class="col ">
      <mat-chip color="primary">One fish</mat-chip>
      <mat-chip color="primary">One fish</mat-chip>
      <mat-chip color="primary">One fish</mat-chip>
      <mat-chip color="primary">One fish</mat-chip>
      <mat-chip color="primary">One fish</mat-chip>
    </div>
  </div>
  <h1>NEWS & EVENTS</h1>
  <h4>No Update found ! </h4>
</div>

