<section class="header_section">
  <div class="top-container">
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="bdna_brand">
        <a class="navbar-brand" href="#">
          <i class="fas fa-handshake"></i>
        </a>
      </div>
      <h1 id="site-title">
        <a href="/en" title="Home">BAGALKOT DISTRICT NON-AGRICULTURE CREDIT CO-OPERATIVE SOCIETIES FEDERATION LTD BAGALKOT </a>
        <div id="site-description">ಬಾಗಲಕೋಟ ಜಿಲ್ಲಾ ಕೃಷಿಯೇತರ ಪತ್ತಿನ ಸಹಕಾರ ಸಂಘ/ಸಹಕಾರಿಗಳ ಸಹಕಾರ ಒಕ್ಕೂಟ (ನಿ) ಬಾಗಲಕೋಟ
        </div>
      </h1>
      <div class="right_sec">
        <div class="lang"><span>English | ಕನ್ನಡ </span></div>
        <div class="social_icons ">
          <i title="Facebook" class="fab fa-facebook-square"></i>
          <i title="Twitter" class="fab fa-twitter-square"></i>
          <i title="Linkdin" class="fab fa-linkedin"></i>
          <i title="Youtube" class="fab fa-youtube-square"></i>
          <i data-toggle="tooltip" title="WhatsApp" class="fab fa-whatsapp-square"></i>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <div class="header" id="myHeader">
    <ul class=" list-inline">
      <li class="list-inline-item">
        <div class="dropdown">
          <button (click)="toggle1()" [routerLink]="['/']" class="btn btn-secondary" type="button" >
            HOME
          </button>
        </div>
      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ABOUT US
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button [routerLink]="['/aboutus']"   class="dropdown-item" type="button"> ABOUT US</button>
            <button class="dropdown-item" type="button">ELECTED REPRESENTATIVE</button>
            <button class="dropdown-item" type="button">LEGAL ADVISOR</button>
            <button class="dropdown-item" type="button">GAZETTED OFFICER</button>
            <button class="dropdown-item" type="button">STAFF</button>
          </div>
        </div>

      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CIRCULARS
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>

      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ACT AND RULES
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>

      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ACHIEVEMENTS
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>
      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MEMBERS LIST
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">BAGALKOT TALUK</button>
            <button class="dropdown-item" type="button">BILAGI TALUK</button>
            <button class="dropdown-item" type="button">HUNAGUNDA TALUK</button>
            <button class="dropdown-item" type="button">ILAKAL TALUK</button>
            <button class="dropdown-item" type="button">BADAMI TALUK</button>
            <button class="dropdown-item" type="button">MUDHOL TALUK</button>
            <button class="dropdown-item" type="button">JAMAKHANDI TALUK</button>
          </div>
        </div>


      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ABN AND EP
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button (click)="toggle()" [routerLink]="['/abnap']" class="dropdown-item" type="button">ABN</button>
            <button class="dropdown-item" type="button">EP</button>
          </div>
        </div>

      </li>
      <li class="list-inline-item">
        <div class="dropdown">
          <button [routerLink]="['/photogallery']" class="btn btn-secondary" type="button">
            PHOTO GALLERY
          </button>
        </div>


      </li>
      <li class="list-inline-item">
        <div class="dropdown" >
          <button  [routerLink]="['/contact']" class="btn btn-secondary " type="button">
            CONTACT US
          </button>
        </div>


      </li>
    </ul>
  </div>
</section>
<router-outlet></router-outlet>
<!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4">
  <!--Footer Links-->
  <div class="container">
    <div class="row">
      <!--First column-->
      <div class="col-md-3 offset-md-1">
        <h5 class="title">CONTACT US</h5>
        <p>
          SECTOR NO:18 3RD  MAIN ROAD,
          SHRI RADHAKRISHNA BADAVANE,
          BEHIND GOKUL HOTEL NAVANAGAR
          BAGALKOT-587103
        </p>
      </div>
      <!--/.First column-->
      <hr class="hidden-md-up">
      <!--Second column-->
      <div class="col-md-3 offset-md-1">
        <h5 class="title">WORKING HOURS</h5>
        <ul class="list-unstyled">
          <li>
           10.30.AM TO 5.30PM
          </li>
        </ul>
      </div>
      <!--/.Second column-->
      <hr class="hidden-md-up">

      <hr class="hidden-md-up">
      <!--Fourth column-->
      <div class="col-md-3">
        <h5 class="title">SUPPORT</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-mobile" aria-hidden="true"></i> <a href="#">  +917353861868 / 9739213406</a>
          </li>
          <li>
            <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Bagalkotvakuta@gmail.com</a>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->
  <hr>


  <!--Social buttons-->
  <div class="text-center mb-3">
    <a mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
      <i title="Facebook" class="fab fa-facebook-square"></i>
    </a>
    <a mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
      <i title="Twitter" class="fab fa-twitter-square"></i>
    </a>
    <a mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
      <i title="Linkdin" class="fab fa-linkedin"></i>
    </a>
    <a mdbBtn floating="true" size="sm" class="btn-li waves-light" mdbWavesEffect>
      <i title="Youtube" class="fab fa-youtube-square"></i>
    </a>
    <a mdbBtn floating="true" size="sm" class="btn-git waves-light" mdbWavesEffect>
      <i data-toggle="tooltip" title="WhatsApp" class="fab fa-whatsapp-square"></i>
    </a>
  </div>
  <!--/.Social buttons-->
  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
    <div class="container-fluid">
    <p>  © 2018 Copyright:
      <a href="https://praveenrangasubhe.wordpress.com/" target="_blank"> Designed by Praveen Rangasubhe</a></p>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
