//Variable
 $primary:rgba(83, 83, 83, 0.8);
$font-family: 'Noto Sans', sans-serif !important;
//top-container
.top-container{
    .navbar{
      background: linear-gradient(45deg, #1de099, #1dc8cd);
       padding: 5px 15px 5px 13px;z-index: 4;
       .bdna_brand {    padding-left: 55px;
          .fas {
            font-size: 50px;
            padding-left: 8px;
            //color: rgba(83, 83, 83, 0.8);
            color: #fff;
            display: inline-block;
            width: 100px;
            height: 100px;
            line-height: 91px;
            text-align: center;
            border: 5px solid #fff;
            padding: 0px;
            border-radius: 50%;
          }
          }
         h1 {
           font-size: 19px;
           line-height: 28px;
           font-weight: 900;
           text-align: center;  color: #fff;
           a{     color: #fff;text-decoration: none;}
         }
        .social_icons {
          text-align: right;
          .fab {
                padding: 0 2px 0 15px;
                font-size: 33px;
                cursor: pointer;
                display: inline;
            color:#fff;
                &:hover{color:#0abe51}
            }
        }
  .right_sec {
    display: inline-block;
    max-width: 295px;
    vertical-align: top;
    margin: 0 0 41px 0;
    .lang {
      vertical-align: top;
      text-align: right;
      margin: 0px 3px 0px 0px;
      line-height: 39px;
      color: #fff;
    }
  }
    }
}


.header {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border-top:1px solid #fff;
    color: #f1f1f1;
    z-index: 9;

  ul{margin: 0px}
  .dropdown {

    padding: 15px 0px 20px 0px;
    .dropdown-menu{margin: 0px;padding: 0px;border-radius: 0;
      .dropdown-item{cursor: pointer}
    }
  }

  .dropdown-item:hover{background: linear-gradient(45deg, #1de099, #1dc8cd);color:#fff;}
  .btn-secondary{background-color: transparent;border-color: transparent;font-size: 17px; font-weight: 500}
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  z-index: 99;
  }
.header_section{z-index: 4}

//dynamic css control
::ng-deep .mat-menu-panel{margin: 37px 0px 0px 0px}


.padding0{padding: 0px}






.padding_right0{padding-right: 0px}

footer{   background: linear-gradient(45deg, #1de099, #1dc8cd);   padding: 0 15px 0 15px;
}

.map{iframe{    padding: 15px 15px 0px 15px;}
  display: inline-block;width: 100%;

}

 .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}
.btn-secondary:focus {
  box-shadow: none;
}
