//Variable
 $primary:rgba(83, 83, 83, 0.8);
$font-family: 'Noto Sans', sans-serif !important;
//top-container
.top-container{
    .navbar{
       background-color: #0abe51;
       padding: 5px 15px 5px 13px;z-index: 4;
       .bdna_brand {    padding-left: 55px;
          .fas {
            font-size: 50px;
            padding-left: 8px;
            color: #fff;
            display: inline-block;
            width: 100px;
            height: 100px;
            line-height: 91px;
            text-align: center;
            border: 5px solid #fff;
            padding: 0px;
            border-radius: 50%;
          }
          }
         h1 {
           font-size: 19px;
           line-height: 28px;
           font-weight: 900;
           text-align: center;color: #fff;
           a{color: #fff;text-decoration: none;}
         }
        .social_icons {
          text-align: right;
          .fab {
                padding: 0 2px 0 15px;
                font-size: 33px;
                cursor: pointer;
                display: inline;
             color:#fff;
                &:hover{color:rgb(245, 146, 17)}
            }
        }
  .right_sec {
    display: inline-block;
    max-width: 295px;
    vertical-align: top;
    margin: 0 0 41px 0;
    .lang {
      vertical-align: top;
      text-align: right;
      margin: 0px 3px 0px 0px;
      line-height: 39px;
       color: #fff;
    }
  }
    }
}


.header {
  background: rgba(83, 83, 83, 0.8);
    color: #f1f1f1;
    z-index: 9;

  ul{margin: 0px}
  .dropdown {

    padding: 15px 0px 20px 0px;
    .dropdown-menu{margin: 0px;padding: 0px;border-radius: 0;
      .dropdown-item{cursor: pointer}
    }
  }

  .dropdown-item:hover{background-color: #0abe51;color:#fff;}
  .btn-secondary{background-color: transparent;border-color: transparent;font-size: 20px; font-weight: 500}
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  z-index: 99;
  }
.header_section{z-index: 4}

//dynamic css control
::ng-deep .mat-menu-panel{margin: 37px 0px 0px 0px}


.padding0{padding: 0px}






.padding_right0{padding-right: 0px}

footer{background-color: $primary;    padding: 0 15px 0 15px;
}

.map{iframe{    padding: 15px 15px 0px 15px;}
  display: inline-block;width: 100%;

}

footer{
    h5{
      font-size: 17px;
      color: #fff;
      font-weight: 500;
      line-height: 20px;
      font-family: $font-family;
    }
  li{color: #fff;}
p{     font-size: 15px;
  color: #fff;
  line-height: 24px;
font-family: $font-family}
  .fa.fa-mobile {
    color: #fff;
    font-size: 16px;
    padding-right: 5px;
    vertical-align: middle;
  }
  a{
    color: #fff;
    line-height: 30px;
    font-size: 14px;font-family: $font-family;
    &:hover{
      color: #ffa100;
      text-decoration: none;

    }

  }
  .fa-envelope {
    color: #fff;
    line-height: 40px;
    padding-right: 8px;
    vertical-align: middle;
  }

.fab {
  padding: 0px 20px 0 15px;
  font-size: 35px;
  color: #fff;
  &:hover{color:#f17901;cursor: pointer}
}}

