/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body{font-family: 'Noto Sans', sans-serif !important;}
html{font-family: 'Noto Sans', sans-serif !important;}

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
   z-index: 0;
  }
.carousel {h1{font-size: 30px;}}

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 350px;
    background-color: #fff;

   .btn-primary{background-color: #444444;border: 0;}
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    background-size: cover;
    max-width: 100%;

}
.carousel-indicators{display: none;}
.carousel-indicators .active {
  background-color: transparent;

}

.padding0{padding:0px}

//Variable
$primary:rgba(83, 83, 83, 0.8);
$font-family: 'Noto Sans', sans-serif !important;
.main_section {
  margin: 0px 0 0 0;
  padding: 35px 0 15px 0;
  .card {
    max-width: 100%;
  }
  .card-image {
    background-size: cover;
    background: #dedede;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    &:hover{background-color:#004D40; color: #fff;}
  }

  .mat-card-avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    flex-shrink: 0;
    .fas {
      font-weight: 900;
      font-size: 28px;
      line-height: 72px;
    }

  }

  .help {
    margin: 50px 0 10px 0;
    min-height: 600px;
    //box-shadow: 4px 2px 21px #cccc;

    marquee{background-color: #757575;
      color: #fff;
      font-size: 20px;
      text-align: center;
      line-height: 31px;
    }
    .right{padding: 0 0 25px 0;   box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      .detail {
        padding: 15px 21px 0 22px;
        text-align: justify;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        p{font-size: 16px;
          line-height: 34px;}
      }

    }

  }
}



//footer
footer{
  h5{
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    font-family: $font-family;
  }
  li{color: #fff;
  &:hover{color:#f17901;}
  }
  p{     font-size: 15px;
    color: #fff;
    line-height: 24px;
    font-family: $font-family}
  .fa.fa-mobile {
    color: #fff;
    font-size: 16px;
    padding-right: 5px;
    vertical-align: middle;
  }
  a{
    color: #fff;
    line-height: 30px;
    font-size: 14px;font-family: $font-family;
    &:hover{
      color: #ffa100;
      text-decoration: none;

    }

  }
  .fa-envelope {
    color: #fff;
    line-height: 40px;
    padding-right: 8px;
    vertical-align: middle;
  }

  .fab {
    padding: 0px 20px 0 15px;
    font-size: 35px;
    color: #fff;
    &:hover{color:#f17901;cursor: pointer}
  }}
