/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body{font-family: 'Noto Sans', sans-serif;}

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
   z-index: 0;
  }
.carousel {h1{font-size: 30px;}}

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;

   .btn-primary{background-color: #444444;border: 0;}
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    background-size: cover;
    max-width: 100%;

}


