<div class="main_section">
  <div class="container">
     <div class="help">
        <div class="row">
           <div class="col col-sm-4 col-md-4 col-lg-4">
              <app-right></app-right>
           </div>
           <div class="col col-sm-8 col-md-8 col-lg-8">
              <div class="right">
                 <marquee>BAGALKOT DISTRICT NON-AGRICULTURE CREDIT CO-OPERATIVE SOCIETIES FEDERATION LTD BAGALKOT</marquee>
                 <h1>PROCEDURES TO MAKE AWARD(ABN)  AND RELATED INFORMATION</h1>
                 <div class="scroll">
                   
                 <div class="image-card">
                    <div class="row">
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP CALCULATION</mat-card-title>
                             <img mat-card-image src="../../../assets/EP CALCULATION.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP CALCULATION.jpg">Preview</a></button>
                                <button mat-button ><a download="Award1.jpg" href="../../../assets/EP CALCULATION.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 1.1</mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 1.1.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 1.1.jpg">Preview</a></button>
                                <button mat-button ><a download="EP FORM 1.1.jpg" href="../../../assets/EP FORM 1.1.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 1 </mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 1.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 1.jpg">Preview</a></button>
                                <button mat-button><a download="EP FORM 1.jpg" href="../../../assets/EP FORM 1.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                    </div>
                 </div>
                 <div class="image-card">
                    <div class="row">
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 2</mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 2.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 2.jpg">Preview</a></button>
                                <button mat-button><a download="Award4.jpg" href="../../../assets/EP FORM 2.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 3</mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 3.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 3.jpg">Preview</a></button>
                                <button mat-button><a download="EP FORM 3.jpg" href="../../../assets/EP FORM 3.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 4</mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 4.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 4.jpg">Preview</a></button>
                                <button mat-button><a download="EP FORM 4.jpg" href="../../../assets/EP FORM 4.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                    </div>
                 </div>
                 <div class="image-card">
                    <div class="row">
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 5</mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 5.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 5.jpg">Preview</a></button>
                                <button mat-button><a download="EP FORM 5.jpg" href="../../../assets/EP FORM 5.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 6</mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 6.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 6.jpg">Preview</a></button>
                                <button mat-button><a download="EP FORM 6.jpg" href="../../../assets/EP FORM 6.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 7</mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 7.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 7.jpg">Preview</a></button>
                                <button mat-button><a download="EP FORM 7.jpg" href="../../../assets/EP FORM 7.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                    </div>
                 </div>
                 <div class="image-card">
                    <div class="row">
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 7.1</mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 7.1.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 7.1.jpg">Preview</a></button>
                                <button mat-button><a download="EP FORM 7.1.jpg" href="../../../assets/EP FORM 7.1.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 8</mat-card-title>
                             <img mat-card-image src="../../../assets/EP FORM 8.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/EP FORM 8.jpg">Preview</a></button>
                                <button mat-button><a download="EP FORM 6.jpg" href="../../../assets/EP FORM 8.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                       <div class="col">
                          <mat-card class="example-card">
                             <mat-card-title>EP FORM 8.2</mat-card-title>
                             <img mat-card-image src="../../../assets/FORM 8.2.jpg" alt="Photo of a Shiba Inu">
                             <mat-card-actions>
                                <button   mat-button><a target="_blank" href="../../../assets/FORM 8.2.jpg">Preview</a></button>
                                <button mat-button><a download="EP FORM 7.jpg" href="../../../assets/FORM 8.2.jpg">Download</a></button>
                             </mat-card-actions>
                          </mat-card>
                       </div>
                    </div>
                 </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>