<app-slider ></app-slider>
<div class="main_section">
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="card-image">
              <i routerLink="/Calulator" class="fas fa-calculator"></i>
            </div>
            <mat-card-title  target="_blank"> EXECUTION PETITION (EP) CALCULATOR</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="card-image">
              <i class="fas fa-desktop"></i>
            </div>
            <mat-card-title>CITIZEN ONLINE SERVICES </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="card-image">
              <i class="fas fa-hand-point-up"></i>
            </div>
            <mat-card-title>TRACK YOUR APPLICATION</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="help">
      <div class="row">
        <div class="col col-sm-4 col-md-4 col-lg-4">
          <app-right></app-right>
        </div>
        <div class="col col-sm-8 col-md-8 col-lg-8">
          <div class="right">
            <marquee>BAGALKOT DISTRICT NON-AGRICULTURE CREDIT CO-OPERATIVE SOCIETIES FEDERATION LTD BAGALKOT</marquee>
            <div class="detail">
<p>ಬಾಗಲಕೋಟ ಜಿಲ್ಲೆಯಲ್ಲಿ 543 ಕೃಷಿಯೇತರ ಪತ್ತಿನ ಸಹಕಾರ ಸಂಘಗಳಿದ್ದು ಅಂದಾಜು 2,350/- ಕೋಟಿ ದುಡಿಯುವ ಬಂಡವಾಳ ಇರುತ್ತದೆ ಮುದ್ದತ ಮೀರಿದ ಸಾಲದ ಪ್ರಮಾಣವು ಪ್ರತಿ ವರ್ಷ ಹೆಚ್ಚುತ್ತಾ ಬಂದಿರುತ್ತದೆ ಮುದ್ದತ ಮೀರಿದ ಸಾಲದ ಹಣವು ಅಂದಾಜು 100/- ಕೋಟಿ ಇರುತ್ತದೆ
  ಸಾಲ ವಸೂಲಾತಿಯ ಸಲುವಾಗಿ ಸಹಾಯಕ ನಿಬಂಧಕರು ಸಹಕಾರ ಸಂಘಗಳು ಜಮಖಂಡಿ ಹಾಗೂ ಸಹಾಯಕ ನಿಬಂಧಕರು ಸಹಕಾರ ಸಂಘಗಳು ಬಾಗಲಕೋಟ ಕಚೇರಿಯಲ್ಲಿ ಒಟ್ಟು ಇಬ್ಬರು ಮಾರಾಟಾಧಿಕಾರಿಗಳು ಕಾರ್ಯನಿರ್ವಹಿಸುತ್ತಿದ್ದು ಜಿಲ್ಲೆಯಲ್ಲಿಯ ಎಲ್ಲ ಕೃಷಿಯೇತರ ಪತ್ತಿನ ಸಹಕಾರ ಸಂಘಗಳಿಗೆ ಆದ್ಯತೆ ಕೊಟ್ಟು ಸಾಲ ವಸೂಲಾತಿಯ  ಕಾರ್ಯನಿರ್ವಹಿಸುವದು ಅಸಾದ್ಯವಾದಕಾರಣ
  ಹಾಗೂ ಎಲ್ಲ ಕೃಷಿಯೇತರ ಪತ್ತಿನ ಸಹಕಾರ ಸಂಘಗಳ ಸಾಲ ವಸೂಲಾತಿಯ ಕಾರ್ಯವನ್ನು ಸಮರ್ಪಕವಾಗಿ ಜರುಗಿಸಲು ಬಾಗಲಕೋಟ ಜಿಲ್ಲೆಯಲ್ಲಿ ಕೃಷಿಯೇತರ ಪತ್ತಿನ ಸಹಕಾರ ಸಂಘಗಳ ಸಹಕಾರ ಒಕ್ಕೂಟ ಸ್ಥಾಪಿಸುವದು ಅವಶ್ಯವೆಂದು ಪರಿಗಣಿಸಿ 2012-13 ನೇ ಸಾಲಿನಲ್ಲಿ ಬಾಗಲಕೋಟ ಜಿಲ್ಲಾ ಕೃಷಿಯೇತರ ಪತ್ತಿನ ಸಹಕಾರಿ ಸಂಘಗಳ/ಸಹಕಾರಿಗಳ  ಸಹಕಾರ ಒಕ್ಕೂಟ ನಿಯಮಿತ ಬಾಗಲಕೋಟ ಇದನ್ನು ನೋಂದಣಿ ಮಾಡಲಾಗಿದೆ 2012-13 ರಿಂದ ಇಲ್ಲಿಯವರೆಗೆ ಒಕ್ಕೂಟವು ಕಾರ್ಯನಿರ್ವಹಿಸುತ್ತಿರುತ್ತದೆ.</p>
              <p>ಸಹಕಾರ ಒಕ್ಕೂಟದಲ್ಲಿ 156 ಸಂಘಗಳು ಸದಸ್ಯತ್ವ ಹೊಂದಿ ಸಾಲ ವಸೂಲಾತಿಯ ಕೆಲಸವನ್ನು ನಿರ್ವಹಿಸುತ್ತಾ ಬಂದಿರುತ್ತದೆ ಒಕ್ಕೂಟದಲ್ಲಿ ಸದ್ಯಕ್ಕೆ ಒಬ್ಬ ಮುಖ್ಯಕಾರ್ಯನಿರ್ವಾಹಕರು,ನಾಲ್ಕು ಜನ ಮಾರಾಟಾಧಿಕಾರಿಗಳು,ಒಬ್ಬ ಸಿಪಾಯಿ ಕಾರ್ಯನಿರ್ವಹಿಸುತ್ತಿದ್ದಾರೆ ಹಾಗೂ ಸದಸ್ಯ ಸಂಘ/ಸಹಕಾರಿಗಳಿಗೆ ಆಡಳಿತಾತ್ಮಕ ಲೆಕ್ಕಪತ್ರ ಇಡುವಿಕೆಯ ನೆರವು ಮತ್ತು ಒಕ್ಕೂಟ ನಡೆಸುವ ತರಬೇತಿಗಳಿಗೆ ಮಾರ್ಗದರ್ಶನ,ಸಲಹೆ ನೀಡಲು ನಿವೃತ್ತ ಉಪನಿಬಂಧಕರಾದ ಶ್ರೀ ಏನ್.ಎಸ್.ಹಣಿಗಿ ಇವರು ಸಲಹೆಗಾರರಾಗಿ ಕಾರ್ಯನಿರ್ವಹಿಸುತ್ತಿದ್ದಾರೆ.</p>
              <p>ಕೃಷಿಯೇತರ ಪತ್ತಿನ ಸಹಕಾರ ಸಂಘಗಳಿಂದ ಅಮಲಬಜಾವಣೆ ಪ್ರಕರಣಗಳನ್ನು ಹೆಚ್ಚಿಗೆ ಪಡೆದು ಪ್ರತಿ ತಾಲೂಕಿಗೆ ಒಬ್ಬರಂತೆ ಮಾರಾಟಾಧಿಕಾರಿಗಳನ್ನು ನಿಯುಕ್ತಿಗೊಳಿಸಿ ವಸೂಲಿ ಕೆಲಸ  ನಿರ್ವಹಿಸುವ ಉದ್ದೇಶ ಹೊಂದಲಾಗಿದೆ.</p>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
</div>
