<div class="main_section">
  <div class="container">
    <!-- <div class="row">
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="card-image">
              <i routerLink="/Calulator" class="fas fa-calculator"></i>
            </div>
            <mat-card-title> EXECUTION PETITION (EP) CALCULATOR</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="card-image">
              <i class="fas fa-desktop"></i>
            </div>
            <mat-card-title>CITIZEN ONLINE SERVICES </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="card-image">
              <i class="fas fa-hand-point-up"></i>
            </div>
            <mat-card-title>TRACK YOUR APPLICATION</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div> -->
    <div class="help">
      <div class="row">
        <div class="col col-sm-4 col-md-4 col-lg-4">
          <app-right></app-right>
        </div>
        <div class="col col-sm-8 col-md-8 col-lg-8">
          <div class="right">
            <marquee>BAGALKOT DISTRICT NON-AGRICULTURE CREDIT CO-OPERATIVE SOCIETIES FEDERATION LTD BAGALKOT</marquee>
            <div class="detail">
              <h6>2018(APRIL 2018 TO NOVEMBER) RECOVEY CHART OF VAKUTA</h6>
             <img src="../../assets/Capture.JPG">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
